@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Oswald', sans-serif; */
}

.line-green {
    background-color: #117050;
    height: 10px;
}

.bar {
    background-color: #117050;
    width: 168px;
    height: 22px;
}

h1 {
    font-size: 90px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    line-height: 90px;
    margin-bottom: 40px;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    line-height: 45px;
    margin: 20px 0;
}

.button {
    display: inline-block;
    border: 2px solid #454545;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 3px;
    color: #454545;
}

.button:hover {
    color: white;
    background-color: #454545;
}

.conteiner {
    max-width: 1140px;
    margin: auto;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header-left img {
    width: 64px;
    height: 64px;
}

.header-search form {
    display: flex;
}

.header-search input {
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

.header-search button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.header-search button img {
    width: 16px;
    height: 16px;
    margin-left: -50px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right .header-menu {
    margin-left: 50px;
    cursor: pointer;
}

.header-right .header-menu img {
    width: 24px;
    height: 24px;
}

.banner {
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}

.banner-images {
    margin-top: 50px;
}

.banner-images img {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    border: 6px solid #117050;
    margin-right: 30px;
}

.area1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1 .content-area {
    padding: 80px;
}

.area1 .area-img1 {
    background-image: url(../images/f2.jpg);
    background-position: center;
    background-size: cover;
    height: 350px;
}

.area1 .area-img2 {
    background-image: url(../images/f1.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.area1 .area1-text {
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 25px;
}
/* Area 2 */
.area2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area2 .content2-area {
    padding: 80px;
}

.area2 .area2-img1 {
    background-image: url(../images/f4.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
}

.area2 .area2-img2 {
    background-image: url(../images/f3.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.area2 .area2-text {
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 25px;
}
/* Area3 */
.area3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3 .content3-area {
    padding: 200px 80px;
    background-image: url(../images/bg2.jpg);
    background-position: left;
    background-size: cover;
}

.area3 .area3-text {
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 25px;
}

.area3 .area3-img1 {
    background-image: url(../images/f5.jpg);
    background-position: center;
    background-size: cover;
}
/* Area4 */
.area4 {
    display: grid;
    grid-template-columns: 500px 1fr;
    background-color: #e8e9ee;
}

.area4 .content4-area {
    padding: 150px 80px;
}

.area4 .area4-text {
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 25px;
}

.area4 .area4-img1 {
    background-image: url(../images/bg3.jpg);
    background-position: left;
}

.area5 {
    background-image: url(../images/bg4.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
}

footer {
    background-color: #333;
    color: white;
    padding: 80px;
    text-align: center;
}

footer a {
    color: #999;
    text-decoration: none;
}

footer p {
    margin-bottom: 20px;
}

@media (min-width: 801px) and (max-width: 1140px) {
    .conteiner {
        padding: 0px 20px;
    }
}

@media (min-width: 426px) and (max-width: 800px) {
    .conteiner {
        padding: 0px 20px;
    }

    .area1 {
        grid-template-columns: 2fr 1fr;
    }

    .area2 {
        grid-template-columns: 1fr 2fr;
    }

    .area3 {
        grid-template-columns: 2fr 1fr;
    }

    .area5 {
        background-position: right;
        height: 400px;
    }
}

@media (max-width: 425px) {
    .conteiner {
        padding: 0px 20px;
    }

    .header-search input {
        font-size: 16px;
        padding: 10px 15px;
        border: 1px solid #999;
        outline: 0;
        width: 100%;
        max-width: 120px;
    }

    h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .banner-images img {
        width: 80px;
        height: 80px;
        border: 3px solid #117050;
        margin-right: 10px;
    }

    .area1, .area2, .area3, .area4 {
        grid-template-columns: 1fr;
    }

    h2 {
        text-align: none;
        font-size: 30px;
        line-height: 30px;
    }

    .area1 .content-area, .area2 .content2-area,
    .area3 .content3-area, .area4 .content4-area {
        padding: 30px;
        text-align: justify;
    }

    .area5 {
        background-position: right;
        height: 200px;
    }

    footer {
        padding: 40px;
        text-align: center;
        font-size: 14px;
    }

    footer p {
        margin-bottom: 10px;
    }

    .header-right .header-menu {
        margin-left: 10px;
    }
}